<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        
        <title>Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- include jQuery library -->
        <script src="{{ url_for('static', filename='lib/jquery-1.12.3.js') }}"></script>
        
    </head>

    <body>
        <div id="header">
            <img class="logo" src="{{ url_for('static', filename='img/Sharework_logo_color.png') }}" />
        </div>
        
        <div id="content">
            <div id="process-list" class="section">
                <div class="section-title">Success!</div>

                <div class="grid-container">
                    <div class="section-content">
                        <p>Your file has been correctly saved!</p>
                        <p>{{file}}</p>
                    </div>

                    {% if p == "false" %}
                    <form id="pdl" method="GET" action="/salva">
                        <button class="submit">Download problem.pdl</button>
                    </form>
                    {% endif %}
                </div>
            </div>

            <form method="GET" action="/true">
                <button class="submit" id="new">Add a new domain</button>
            </form>
            <form method="GET" action="/">
                <button class="submit" id="mod">Edit the last domain</button>
            </form>


            <script>
                $("#new").click(function() {
                    sessionStorage.clear();
                    sessionStorage.setItem('new', true);
                });
                $("#mod").click(function() {
                    sessionStorage.setItem('new', false);
                });
            </script>
        </div>
    </body>

</html>